* {
   box-sizing: border-box;
}

body {
   background-color: #025474;
   font-family: "Teko", sans-serif;
}

.header {
   background-color: #025474;

   width: 100%;
   &__container {
      background-color: #74c7f7;
      max-width: 95%;
      max-height: 95%;
      height: 95vh;
      margin: 0 auto;
      padding: 25px;
      border-radius: 10px;
      margin-top: 20px;
   }
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__menu {
      background-color: #5a758e;
      width: 45px;
      height: 40px;
      border-radius: 4px;
      position: relative;
   }
   &__menu-line,
   &__menu-line::after,
   &__menu-line::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 4px;
      background-color: #fff;
      border-radius: 2px;
   }
   &__menu-line {
      margin-top: 18px;
      margin-left: 10px;
   }
   &__menu-line::after {
      margin-top: -8px;
   }
   &__menu-line::before {
      margin-top: 8px;
   }
   &__search {
      margin-left: 70px;
   }
   &__search-label {
      position: absolute;
      background-image: url(../img/search.png);
      width: 20px;
      height: 20px;
      z-index: 10;
      margin-right: 20px;
      background-repeat: no-repeat;
      top: 55px;
   }
   &__search input {
      outline: none;
      background-color: #74c7f7;
      border: none;
      position: absolute;
      top: 55px;
      left: 160px;
   }
   &__search input:focus {
      border-bottom: 2px solid #738aa9;
      color: #fff;
   }
   &__logo {
      font-size: 26px;
      color: #fff;
      font-weight: 300;
      overflow: hidden;
      text-transform: uppercase;
   }
   // &__logo::before {
   //    content: "";
   //    width: 50px;
   //    height: 50px;
   //    border-radius: 50px;
   //    background-color: rgba(171, 12, 47, 0.2);
   //    position: absolute;
   //    overflow: hidden;
   // }
   &__shop {
      display: flex;
      align-items: center;
   }
   &__shop-account {
      font-size: 16px;
      color: #2c2c2d;
      text-transform: uppercase;
      margin-right: 10px;
   }
   &__main-goods {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15%;
      position: relative;
      z-index: 10;
   }
   &__main-text {
      font-size: 210px;
      font-weight: 500;
      letter-spacing: 25px;
      position: absolute;
      opacity: 0.5;
      z-index: -10;
   }
   &__goods {
      display: flex;
      justify-content: space-between;
   }
   &__goods-item {
      font-size: 18px;
      font-weight: 300;
      color: #1d1f24;
      opacity: 0.7;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
   }
   &__goods-items {
      margin-top: -85px;
   }
}
